# Project exclude paths
/.idea
/.settings
/business_server_10300/target/
/business_server_10300/.settings/
/business_server_10300/.classpath/
/business_server_10300/.project/
/business_server_10301/target/
/business_server_10301/.settings/
/cart_server_10400/target/
/cart_server_10401/target/
/config_server_15000/target/
/config_server_15001/target/
/deliveryaddress_server_10500/target/
/eureka_server_13000/target/
/eureka_server_13001/target/
/food_server_10200/target/
/food_server_10201/target/
/gateway_server_14000/target/
/orders_server_10600/target/
/orders_server_10601/target/
/user_server_10100/target/
/business_server_10301/.classpath
/business_server_10301/.project
/cart_server_10400/.settings/
/cart_server_10400/.classpath
/cart_server_10400/.project
/cart_server_10401/.settings/
/cart_server_10401/.classpath
/cart_server_10401/.project
/deliveryaddress_server_10500/.settings/
/deliveryaddress_server_10500/.classpath
/deliveryaddress_server_10500/.project
/eureka_server_13000/.settings/
/eureka_server_13000/.classpath
/eureka_server_13000/.project
/eureka_server_13001/.settings/
/eureka_server_13001/.classpath
/eureka_server_13001/.project
/food_server_10200/.settings/
/food_server_10200/.classpath
/food_server_10200/.project
/food_server_10201/.settings/
/food_server_10201/.classpath
/food_server_10201/.project
/gateway_server_14000/.settings/
/gateway_server_14000/.project
/gateway_server_14000/.classpath
/orders_server_10600/.settings/
/orders_server_10600/.classpath
/orders_server_10600/.project
/orders_server_10601/.settings/
/orders_server_10601/.classpath
/orders_server_10601/.project
/user_server_10100/.settings/
/user_server_10100/.classpath
/user_server_10100/.project
/.project
/springcloud_elm.zip
